:root {
  --White: #FFFFFF;
  --primary:    #488aff;
  --secondary:  #32db64;
  --danger:     #d0021b;
  --light:      #f4f4f4;
  --dark:       #222;
  --grey:       #808080;

// Fonts

  --textSizeSuperGiantBigOlFont: 20rem;
  --textSizeSuperGiantFont: 15rem;
  --textSizeSuperXXXLarge: 4rem;
  --textSizeSuperXXLarge: 2.5rem;
  --textSizeSuperXLarge: 2rem;
  --textSizeSuperLarge: 1.75rem;
  --textSizeXXLarge: 1.7rem;
  --textSizeXLargeish: 1.6rem;
  --textSizeXLarge: 1.4rem;
  --textSizeLarge: 1.33rem;
  --textSizeLessLarge: 1.1rem;
  --textSizeNormal: 1rem;
  --textSizeMedium: 0.8125rem;
  --textSizeSmall: 0.75rem;
  --textSizeTiny: 0.61rem;
  --textSizeMicro: 0.52rem;

  // Font Size for Buy net Icon
  --buyNetIconLarge: 3.4rem;

  --fontWeightLight: 300;
  --fontWeightNormal: 400;
  --fontWeightLightBold: 500;
  --fontWeightBold: 600;

  --text-color:        #000;
  --background-color:  #fff;

  // To override the dark background when the user chrome settings are to dark theme
  --ion-item-border-color: #dedede;
  --ion-border-color: #dedede;
  --ion-background-color: #FFFFFF;
  /* zindex layers */
  --modalLayer: 250;
  --navigationLayer: 200;
  --overlayLayer: 150;
  --layoutLayer: 100;
  --mainContentLayer: 10;


  /* input/button border radius */
  --displayBorderRadius: 5rem;
  --inputBorderRadius: 0.25rem;
  --buttonBorderRadius: 0.375rem;

  /** rgba opacity */
  --opacity80: 0.80;
  --opacity70: 0.70;
  --opacity60: 0.60;
  --opacity20: 0.20;

  /** media query min-width */
  --media-width-xs: 414px;
  --media-width-sm: 576px;
  --media-width-md: 768px;
  --media-width-lg: 992px;
  --media-width-xl: 1200px;
}






.hidden-display { display: none; }
.visible-display { display: block; }
.visible { visibility: visible; }
.visibility-hidden { visibility: hidden; }

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }


.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }


.full-width { width: 100%; }
.full-height { height: 100%; }

.font-color-gray-white{ color: var(--grayWhite) !important; }
.primary-header-color { --background: var(--dtBuyonicGreen); }
.secondary-header-color { background-color: var(--dtGreenDark); }
.background-grey-white-shade { --background: var(--grayWhiteShade); }
.color-black-gray { color: var(--blackGray); }


.text-size-micro { font-size: var(--textSizeMicro); }
.text-size-tiny { font-size: var(--textSizeTiny); }
.text-size-small { font-size: var(--textSizeSmall); }
.text-size-medium { font-size: var(--textSizeMedium); }
.text-size-normal { font-size: var(--textSizeNormal); }
.text-size-less-large { font-size: var(--textSizeLessLarge); }
.text-size-large { font-size: var(--textSizeLarge); }
.text-size-x-large { font-size: var(--textSizeXLarge); }
.text-size-xx-large { font-size: var(--textSizeXXLarge); }
.text-size-super-large { font-size: var(--textSizeSuperLarge)}
.text-size-super-x-large { font-size: var(--textSizeSuperXLarge)}
.text-size-super-xx-large { font-size: var(--textSizeSuperXXLarge)}
.text-size-super-xxx-large { font-size: var(--textSizeSuperXXXLarge)}
.text-size-xxx-largeish { font-size: var(--textSizeXLargeish); }
.text-size-xxxx-largeish { font-size: var(--textSizeSuperXXXLarge); }
.text-size-giant-font { font-size: var(--textSizeSuperGiantFont); }
.text-size-giant-bigol-font { font-size: var(--textSizeSuperGiantBigOlFont); }

.position-absolute { position: absolute; }
.position-relative { position: relative; }
.position-fixed { position: fixed; }
.position-unset { position: unset; }
.position-inherit { position: inherit; }
.position-initial { position: initial; }

.margin-end-5px { margin-right: 0.3125rem; }
.margin-start-5px { margin-left: 0.3125rem; }
.margin-top-5px { margin-top: 0.3125rem; }
.margin-bottom-5px { margin-bottom: 0.3125rem; }

.padding-end-5px { padding-right: 0.3125rem; }
.padding-start-5px { padding-left: 0.3125rem; }
.padding-top-5px { padding-top: 0.3125rem; }
.padding-bottom-5px { padding-bottom: 0.3125rem; }

.margin-end-10px { margin-right: 0.625rem; }
.margin-start-10px { margin-left: 0.625rem; }
.margin-top-10px { margin-top: 0.625rem; }
.margin-bottom-10px { margin-bottom: 0.625rem; }

.padding-end-10px { padding-right: 0.625rem; }
.padding-start-10px { padding-left: 0.625rem; }
.padding-top-10px { padding-top: 0.625rem; }
.padding-bottom-10px { padding-bottom: 0.625rem; }

.display-flex { display: flex; }
.display-block { display: block; }
.display-inline-block { display: inline-block; }
.display-grid { display: grid; }
.align-center { align-items: center; }

.flex-zero { flex: 0 }
.flex-one { flex: 1 }

.flex-basis-5 { flex-basis: 5% }
.flex-basis-10 { flex-basis: 10% }
.flex-basis-25 { flex-basis: 25% }
.flex-basis-33 { flex-basis: 33.33% }
.flex-basis-40 { flex-basis: 40% }
.flex-basis-50 { flex-basis: 50% }
.flex-basis-60 { flex-basis: 60% }
.flex-basis-65 { flex-basis: 65% }
.flex-basis-75 { flex-basis: 75% }
.flex-basis-90 { flex-basis: 90% }
.flex-basis-95 { flex-basis: 95% }
.flex-basis-100 { flex-basis: 100% }
.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; }


.font-weight-light { font-weight: var(--fontWeightLight) }
.font-weight-normal { font-weight: var(--fontWeightNormal) }
.font-weight-light-bold { font-weight: var(--fontWeightLightBold) }
.font-weight-bold { font-weight: var(--fontWeightBold) }

.footer-border-bottom {border-bottom: 0.0625rem solid var(--grayMedXLight);}
.right-zero { right: 0}
.left-zero { left: 0}
.cursor-pointer { cursor: pointer }
.justify-content-flex-end { justify-content: flex-end }
.justify-content-flex-start { justify-content: flex-start }
.contain-inherit { contain: inherit }
.text-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.title-text-overflow-max-width { max-width: 55vw }
.text-overflow-max-width { max-width: 50vw }
.text-overflow-max-width:hover { white-space: normal }
